.App {
    background-color: rgb(105, 139, 111);
}

.banner-wrapper {
    display: grid;
    grid-template-columns: 100%;
}

.banner {
    background-color: rgb(3, 46, 11);
    height: 275px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Houston_Downtown_WV_banner.jpg/1920px-Houston_Downtown_WV_banner.jpg;);
    background-blend-mode: screen;
}

.wrapper {
    display: grid;
    grid-template-columns: 10% 20% 10% 50% 10%;
}

.box {
    border: solid 2px;
}

.profile-pic {
    height: 200px;
    width: auto;
}





